<section class="not-found">
  <div class="scene">
    <div class="box">
      <div class="box__face front">4</div>
      <div class="box__face back">0</div>
      <div class="box__face right">4</div>
      <div class="box__face left">0</div>
      <div class="box__face top">😭</div>
      <div class="box__face bottom">0</div>
    </div>
    <div class="shadow"></div>
  </div>
  <div class="desc">
    <h2>{{ 'PAGE_NOT_FOUND.pageNotFound' | translate }}</h2>
    <button mat-flat-button color="primary" [routerLink]="['/']">{{ 'PAGE_NOT_FOUND.clickToGoHome' | translate}}</button>
  </div>
</section>